---
layout: v2
id: group
title: Le Groupe
css_files:
  - main_styles.css
  - responsive.css
js_files:
  - custom.js
---

<!-- Home -->

<div class="header_filler"></div>

<!-- Extra -->

	<div class="extra" style="margin-bottom: 20px; margin-top:10px;">
		<div class="extra_container">
			<div class="container">
				<div class="row">
					<div class="offset-lg-1 col-lg-10">
						<div class="extra_content d-flex flex-column align-items-start justify-content-center" style="height: auto;">
							<div class="extra_title">
								<div class="section_subtitle">Le Groupe</div>
								<h1>C'mon Guys</h1>
							</div>
							<div class="extra_text">
								<p>
									En 2019 dans l'ouest Lyonnais, grâce au hasard des rencontres musicales,
									un début de groupe se forme avec une chanteuse, un batteur, un bassiste et un guitariste.
									La bonne humeur et la musique Funk font bon ménage et un clavier vient compléter la formation.
									Après avoir agrandi son répertoire et s'être trouvé un nom, les <i>C'mon Guys</i> commencent à se
									lancer dans le grand bain des représentations et enregistrements.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Artist -->
	{% for member in site.data.members %}
	<div class="artist">
		<div class="container">
			<div class="row">

				<!-- Artist Image -->
				<div class="col-lg-3 artist_image_col">
					<div class="artist_image">
						<img class="cmonguys_border" src="images/m_{{ member.name | downcase }}.jpg" alt="">
					</div>
				</div>

				<!-- Artist Content -->
				<div class="col-lg-8 offset-lg-1">
					<div class="artist_content">
						<div class="section_title_container">
							<div class="section_subtitle">{{ member.inst }}</div>
							<div class="section_title"><h1>{{ member.name }}</h1></div>
						</div>
						<div class="artist_text">
							<p>
								{{ member.desc }}
							{% if member.link %}
								<br/>
								<a href="{{ member.link }}" target="_blank">{{ member.link }}</a>
							{% endif %}
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	{% endfor %}


