---
layout: default
title: Le groupe
id: group
---
<body class="text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
{% include nav.html %}
</div>


<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-10 mx-auto">
                <h1 class="fw-light border-bottom border-white mb-5 p-3">Le Groupe</h1>
                <p class="lead">
                    En 2019 dans l'ouest Lyonnais, grâce au hasard des rencontres musicales,
                    un début de groupe se forme avec une chanteuse, un batteur, un bassiste et un guitariste.
                    La bonne humeur et la musique Funk font bons ménages, mais 2020 et ses confinements freinent nos musiciens.
                    Mais les ambitions subsistent et un clavier vient compléter la formation, toujours dans la bonne humeur.
                    Après avoir agrandi son répertoire et s'être trouvé un nom, les <i>C'mon Guys</i> commencent à se
                    lancer dans le grand bain des représentations et enregistrement, tout en intégrant un nouveau guitariste (puis un autre).
                    Et tout ça, dans la bonne humeur, évidemment...
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for member in site.data.members %}
                <div class="col">
                    <div class="card text-white bg-dark border-light mb-3 m-auto" style="max-width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ member.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ member.inst }}</h6>
                            <p class="card-text">{{ member.desc }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>


<footer class="mt-auto text-white-50">

</footer>

</body>