---
layout: v2
id: music
title: Notre Musique
css_files:
- single.css
- single_responsive.css
js_files:
- single.js
---
<div class="header_filler"></div>

<!-- Video -->

<div class="video">
	<div class="container">
		<h1>Vidéos</h1>
		<div class="row" style="margin-bottom: 10px;">
			<div class="section d-flex justify-content-center embed-responsive embed-responsive-4by3 cmonguys_border">
				<video class="embed-responsive-item" autoplay loop muted>
					<source src="images/CmonGuys-Ninkasi-2024.mp4" type="video/mp4" />
				</video>
			</div>
		</div>

		<div class="row" style="margin-bottom: 10px;">
			{% for short in site.data.shorts %}
			<div class="col-md-4 col-sm-12 cmonguys_border">
				<div class="video_container">
					<iframe width="186" height="315"
							src="https://youtube.com/embed/{{ short.id }}"
							frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>

					</iframe>
				</div>
			</div>
			{% endfor %}
		</div>

		{% for id in (1..1) %}
		<div class="row" style="margin-bottom: 10px;">
			<div class="col cmonguys_border">
				<div class="video_container">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/{% cycle "RB4yfGkxslM" %}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
