<header class="mb-auto">
    <div>
        <h1 class="float-sm-start mb-2"><a class="link-light" href="/">C'mon Guys</a></h1>
        <nav class="nav nav-masthead justify-content-center float-sm-end mb-2">
            <a class="nav-link {% if page.id=="home" %}active{% endif %}" href="/">Liens</a>
            <a class="nav-link {% if page.id=="group" %}active{% endif %}" href="/le-groupe.html">Le Groupe</a>
            <a class="nav-link {% if page.id=="dates" %}active{% endif %}" href="/dates.html">Les Dates</a>
        </nav>
    </div>
</header>